#main_area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main_area > h3 {
	margin-bottom: 0;
}
#main_area > p {
	max-width: 380px;
	margin-bottom: 0;
}
#stage_canvas {
	margin-top: 50px;
	border: solid 2px lightgray;
}
#palette_canvas {
	margin-top: 30px;
}